.idea
# excluding the whole build/ dir means the jar artifacts are invisible to the docker context
# everything in the build/ dir must be ignored apart from build/libs
build/[^libs].*
target
.gradle
.git
.gitignore
.tags.*

.DS_Store
_temp
.project
*.log
*.iml
node_modules
.tags*
public