<div id="page2" class="ng-scope">
  <div ng-if="haveResult">

    <div id="outcome" ng-if="success" class="govuk-box-highlight">
      <h1 class="heading-large" id="pageDynamicHeading" tabindex="-1">Passed</h1>
      <p><span id="outcomeBoxSummary">{{ copysummary }}</span></p>
    </div>

    <div id="outcome" ng-if="!success">
      <h1 class="heading-large" id="pageDynamicHeading" tabindex="-1">Not passed</h1>
      <p><span id="outcomeBoxSummary">{{ copysummary }}</span></p>
      <p id="pageDynamicReason">{{ reason }}</p>
    </div>
  </div>

  <div ng-if="!haveResult">
    <h1 class="form-title heading-large" tabindex="-1"><span id="pageDynamicHeading">{{ heading }}</span></h1>
    <p class="lede ng-scope"><span id="pageDynamicDetail">{{ reason }}</span></p>
  </div>


  <div class="pttg-panel">
    <h2 id="whatToDoNextHeading" class="heading-small">What to do next</h2>
    <ol class="list list-number">

      <li ng-if="haveResult">Check that the name matches the applicant's details</li>
      <li>Check that you have entered the correct information</li>
      <li id="whatToDoNextSubHeading" ng-if="!success">You should consider if the applicant meets the financial requirement under any other category.</li>
    </ol>
  </div>


  <div ng-if="haveResult">
    <h2 class="heading-medium">Results</h2>
    <table class="ng-scope" id="resultTable">
      <tbody ng-repeat="i in summary.individuals">
        <tr class="result__person extraspace--before">
          <th colspan="2"><span id="yourSearchIndividualName{{ $index }}" class="heading-small">{{ i.forename}} {{ i.surname }}</span></th>
        </tr>
        
        <tr ng-if="success">
          <th scope="row">Income within date range</th>
          <td><span id="outcomeFromDate{{ $index }}">{{ summary.assessmentStartDate | date: dFormat }}</span> - <span id="outcomeToDate{{ $index }}">{{ summary.applicationRaisedDate | date: dFormat }}</span></td>
        </tr>

        <tr ng-if="i.employers.length">
          <th scope="row">Employers</th>
          <td>
            <ol class="list list-number">
              <li ng-repeat="e in i.employers" id="employer_{{ i.nino | lowercase}}_{{ $index }}">{{ e }}</li>
            </ol>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="extraspace--before">
      <input id="copyBtn" type="submit" class="button button--copy button-info" value="{{ copyToClipboardBtnText }}" />
    </div>
  </div>


  <h2 class="heading-medium ng-scope">Your search</h2>
  <table id="searchTable">
    <tbody>
      <tr>
        <th scope="row">First name</th>
        <td><span id="forename">{{ applicant.forename }}</span></td>
      </tr>
      <tr>
        <th scope="row">Surname</th>
        <td><span id="surname">{{ applicant.surname }}</span></td>
      </tr>
      <tr>
        <th scope="row">Date of birth</th>
        <td><span id="dateOfBirth">{{ applicant.dateOfBirth | date: dFormat }}</span></td>
      </tr>
      <tr>
        <th scope="row">National Insurance number</th>
        <td><span id="yourSearchNationalInsuranceNumber">{{ applicant.nino }}</span></td>
      </tr>
    </tbody>

    <tbody ng-if="showJoint">
      <tr class="extraspace--before">
        <th scope="row">Second individual's first name</th>
        <td><span id="pForename">{{ partner.forename }}</span></td>
      </tr>
      <tr>
        <th scope="row">Second individual's surname</th>
        <td><span id="pSurname">{{ partner.surname }}</span></td>
      </tr>
      <tr>
        <th scope="row">Second individual's date of birth</th>
        <td><span id="pDateOfBirth">{{ partner.dateOfBirth | date: dFormat }}</span></td>
      </tr>
      <tr>
        <th scope="row">Second individual's national Insurance number</th>
        <td><span id="pYourSearchNationalInsuranceNumber">{{ partner.nino }}</span></td>
      </tr>
    </tbody>

    <tbody>
      <tr ng-class="{'extraspace--before': showJoint}">
        <th scope="row">Dependants</th>
        <td><span id="yourSearchDependants">{{ search.dependants }}</span></td>
      </tr>
      <tr>
        <th scope="row">Application raised</th>
        <td><span id="yourSearchApplicationRaisedDate">{{ search.applicationRaisedDate | date: dFormat }}</span></td>
      </tr>
    </tbody>
  </table>


  <div class="form-group form-group--topspace">
      <input id="editSearchBtn" type="submit" class="button button--editSearch button-info" value="Edit" ng-click="editSearch()">
  </div>

  <fm-feedback passed="true" callback="feedbackDone" ng-show="showFeedbackForm"></fm-feedback>

  <input id="newSearchBtn" type="submit" class="button button--newSearch" value="Begin a new check" ng-click="newSearch()" ng-if="showNewSearchButton" />

  <div class="form-group ng-scope">
    <details role="group">
      <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary" id="pageAppendixTitle">Where can I find the appendix?</span></summary>
      <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
        <p>You can find all the guidance on gov.uk under <a href="https://www.gov.uk/government/publications/chapter-8-appendix-fm-family-members" id="chapter8Link" target="_blank" title="Chapter 8 of the immigration directorate instructions: will open in a new window" rel="noopener noreferrer">Chapter 8 of the immigration directorate instructions.</a></p>
        <p>You can also view <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/469692/Appendix_FM_1_7_Financial_Requirement_August_2015.pdf" id="fm1_7Link" rel="noopener noreferrer" title="Appendix FM 1.7: opens in a new window" target="_blank">Appendix FM 1.7</a> which relates specifically to this financial requirement.</p>
      </div>
    </details>
</div>
</div>