<div id="page2" class="ng-scope">
  <div ng-if="haveResult">

    <div id="outcome" ng-if="success" class="govuk-box-highlight">
      <h1 class="heading-large" id="pageDynamicHeading" tabindex="-1">Passed</h1>
      <p><span id="outcomeBoxIndividualName">{{ outcomeBoxIndividualName }}</span> meets the Category A requirement</p>
    </div>

    <div id="outcome" ng-if="!success">
      <h1 class="heading-large" id="pageDynamicHeading" tabindex="-1">Not passed</h1>
      <p id="pageDynamicDetail"><span id="outcomeBoxIndividualName">{{ outcomeBoxIndividualName }}</span> doesn't meet the Category A requirement</p>
      <p id="pageDynamicReason">{{ reason }}</p>
    </div>
  </div>

  <div ng-if="!haveResult">
    <h1 class="form-title heading-large" tabindex="-1"><span id="pageDynamicHeading">{{ heading }}</span></h1>
    <p class="lede ng-scope"><span id="pageDynamicDetail">{{ reason }}</span></p>
  </div>


  <div class="pttg-panel">
    <h2 id="whatToDoNextHeading" class="heading-small">What to do next</h2>
    <ol class="list list-number">

      <li ng-if="haveResult">Check that the name matches applicant's details</li>
      <li>Check you have entered the correct information</li>
      <li id="whatToDoNextSubHeading" ng-if="!success">You should consider if the applicant meets the financial requirement under any other category.</li>
    </ol>
  </div>


  <div ng-if="haveResult">
    <h2 class="heading-medium">Results</h2>
    <table class="ng-scope">
      <tr>
        <th scope="row">Individual</th>
        <td><span id="yourSearchIndividualName">{{ individual.forename}} {{ individual.surname }}</span></td>
      </tr>
      <tr>
        <th scope="row">Threshold</th>
        <td><span id="threshold">{{ threshold | currency : '£' }}</span></td>
      </tr>
      <tr ng-if="success">
        <th scope="row">Income within date range</th>
        <td><span id="outcomeFromDate">{{ outcomeFromDate | date: dFormat }}</span> - <span id="outcomeToDate">{{ outcomeToDate | date: dFormat }}</span></td>
      </tr>
      <tr ng-if="employers.length">
        <th scope="row">Employers</th>
        <td>
          <ol class="list list-number">
            <li ng-repeat="e in employers" id="employer{{ $index }}">{{ e }}</li>
          </ol>
        </td>
      </tr>
      <tr>
        <th scope="row">Summary</th>
        <td><span id="copySummary">{{ copysummary }}</span><br />
          <input id="copyBtn" type="submit" class="button button--copy button-info" value="{{ copyToClipboardBtnText }}" />
        </td>
      </tr>
    </table>
  </div>


  <h2 class="heading-medium ng-scope">Your search</h2>
  <table>
    <tr>
      <th scope="row">First name</th>
      <td><span id="forename">{{ familyDetails.forename }}</span></td>
    </tr>
    <tr>
      <th scope="row">Surname</th>
      <td><span id="surname">{{ familyDetails.surname }}</span></td>
    </tr>
    <tr>
      <th scope="row">Date of birth</th>
      <td><span id="dateOfBirth">{{ familyDetails.dateOfBirth | date: dFormat }}</span></td>
    </tr>
    <tr>
      <th scope="row">National Insurance number</th>
      <td><span id="yourSearchNationalInsuranceNumber">{{ familyDetails.nino }}</span></td>
    </tr>
    <tr>
      <th scope="row">Dependants</th>
      <td><span id="yourSearchDependants">{{ familyDetails.dependants }}</span></td>
    </tr>
    <tr>
      <th scope="row">Application raised</th>
      <td><span id="yourSearchApplicationRaisedDate">{{ familyDetails.applicationRaisedDate | date: dFormat }}</span></td>
    </tr>
  </table>


  <div class="form-group form-group--topspace">
      <input id="editSearchBtn" type="submit" class="button button--editSearch button-info" value="Edit" ng-click="editSearch()">
  </div>

  

  <hod-form name="feedback" config="conf.feedback" submit="feedbackSubmit" ng-show="showFeedbackForm">
    <h2 class="heading-medium ng-scope" id="feedbackheading">Feedback</h2>

    <hod-radio name="match" config="conf.match" field="feedback.match" options="yesNoOptions"></hod-radio>

    <div class="panel panel-border-wide text" ng-show="!conf.caseref.hidden">
      <hod-text name="caseref" label="Case ID" field="feedback.caseref" config="conf.caseref"></hod-text>

      <hod-textarea name="matchComment" config="conf.matchComment" label="Why do you think that the paper assessment did not match the IPS result?" field="feedback.matchComment"></hod-textarea>
      
      <hod-checkboxes label="Why do you think that the paper assessment did not match the IPS result?" field="feedback.whynot" config="conf.whynot"></hod-checkboxes>

      <hod-text name="matchOther" config="conf.matchOther" label="Other" field="feedback.matchOther"></hod-text>
    </div>

    <hod-submit value="Submit and start a new search"></hod-submit>
  </hod-form>

  <div class="form-group" ng-if="showFeedbackThanks">
    <h2 class="heading-medium ng-scope" id="feedbackthankyouheading">Feedback</h2>
    <p id="feedbackthanks">Thank you for supplying feedback on this service.</p>
  </div>

  <input id="newSearchBtn" type="submit" class="button button--newSearch" value="Begin a new check" ng-click="newSearch()" ng-if="showNewSearchButton" />

  <div class="form-group ng-scope">
    <details role="group">
      <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary" id="pageAppendixTitle">Where can I find the appendix?</span></summary>
      <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
        <p>You can find all the guidance on gov.uk under <a href="https://www.gov.uk/government/publications/chapter-8-appendix-fm-family-members" id="chapter8Link" target="_blank" title="Chapter 8 of the immigration directorate instructions: will open in a new window" rel="noopener noreferrer">Chapter 8 of the immigration directorate instructions.</a></p>
        <p>You can also view <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/469692/Appendix_FM_1_7_Financial_Requirement_August_2015.pdf" id="fm1_7Link" rel="noopener noreferrer" title="Appendix FM 1.7: opens in a new window" target="_blank">Appendix FM 1.7</a> which relates specifically to this financial requirement.</p>
      </div>
    </details>
</div>
</div>