<div class="column-full-width ng-scope">
  <div id="page1">
    <h1 class="heading-large" id="pageTitle" tabindex="-1">
      <span class="heading-secondary">Income Proving Service</span>
      <span id="pageSubHeading">Family Migration</span>
    </h1>

    <h2 class="form-title heading-medium" id="pageSubTitle">Individual's details</h2>

    <div class="text">
      <p class="lede" id="pageSubText">You can check an individual meets the Income&nbsp;Proving requirement using a National&nbsp;Insurance number.</p>
    </div>

    <hod-form name="familyDetails" submit="detailsSubmit">
      
      <hod-text name="forename" label="First name" field="applicant.forename" config="conf.forename"></hod-text>
      
      <hod-text name="surname" label="Surname" field="applicant.surname" config="conf.surname"></hod-text>
      
      <hod-date name="dateOfBirth" label="Date of birth" field="applicant.dateOfBirth" config="conf.dateOfBirth"></hod-date>

      <hod-text name="nino" label="National Insurance number" field="applicant.nino" config="conf.nino"></hod-text>

      <div class="details" style="margin-bottom: 30px;">
        <a class="summary" ng-click="secondIndividualtoggle()" ng-class="{'summary--open': showJoint}" id="secondIndividualBtn">{{ partnerBtnText }}</a>
        <div class="panel panel-border-narrow" ng-if="showJoint">
          <hod-text name="partnerForename" label="First name" field="partner.forename" config="conf.partner.forename"></hod-text>
      
          <hod-text name="partnerSurname" label="Surname" field="partner.surname" config="conf.partner.surname"></hod-text>
          
          <hod-date name="partnerDateOfBirth" label="Date of birth" field="partner.dateOfBirth" config="conf.partner.dateOfBirth"></hod-date>

          <hod-text name="partnerNino" label="National Insurance number" field="partner.nino" config="conf.partner.nino"></hod-text>
        </div>  
      </div>
      

      <hod-number name="dependants" label="Number of dependants" field="search.dependants" config="conf.dependants" required="false"></hod-number>

      <hod-date name="applicationRaisedDate" label="Application raised date" field="search.applicationRaisedDate" config="conf.applicationRaisedDate"></hod-date>

      <hod-submit value="{{ submitButton.text }}" disabled="{{ submitButton.disabled }}"></hod-submit>

    </hod-form>
  </div>
</div>