<div id="{{ config.id }}-form-group" class="form-group"  ng-class="{error: displayError}" ng-hide="config.hidden">
  <fieldset>
    <legend class="form-label-bold" id="{{ config.id }}">{{ label }}</legend>
    <div class="form-hint">{{ hint }}</div>
    <div ng-if="displayError" id="{{ config.id }}-error" class="form-error validation-message">{{ displayError }}</div>

    <div class="checkbox-group">
      <hod-checkbox ng-repeat="(i, opt) in options" name="{{ config.id }}-{{ i }}" label="{{ opt }}" field="field[i]"></hod-checkbox>
    </div>
  </fieldset>
</div>
